APP_NAME=TransporteTito
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=transportetito
DB_USERNAME=transportetito
DB_PASSWORD=transportetito

REDIS_HOST=redis
REDIS_PORT=6379

QUEUE_CONNECTION=redis
CACHE_STORE=redis
SESSION_DRIVER=redis

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123456
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=transportetito
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123456
