transportetito.5amsoftware.com.ar {
    encode zstd gzip

    handle /adminer {
        redir /adminer/
    }
    handle /adminer/* {
        uri strip_prefix /adminer
        reverse_proxy adminer:8080
    }

    reverse_proxy nginx:80
}